<h1>Greetings From Spring Boot 3.1.2</h1>
  <p>
    This is a web app using Spring Boot 3.1.2
  </p>
<ul>
  {{#videos}}
    <li>{{name}}</li>
  {{/videos}}
</ul>

<form action="/new-video" method="post">
    <input type="text" name="name">
    <button type="submit">Submit</button>
</form>